/********** Colors **********/
$body-bg: #F2F2F2;
$yellov: #FCB72B;
$dark-navy: #495567;
$dim-gray: #939CAA;
$light-gray: #E5ECF4;
$snow: #F2F5F9;
$light-yellow: #FFF4DF;

$responsive-bg: #333A44;

$location-title-bg: rgba(252, 183, 43, 0.15);

/********** Typography **********/
$main-font-family: 'Space Mono', 'Lexend Deca', sans-serif;
$main-font-family-p: 'Lexend Deca', sans-serif;
$body-line: 1.67;
$body-font-size: 1.5rem;

$font-weight-lg: 700;
$font-weight-md: 400;

$h1-size: 5.6rem;
$h1-responsive-size-lg: 4rem;
$h1-line: 1;
$h1-spacing: -2.5px;
$h1-responsive-spacing-lg: -1.79px;

$h2-size: 4.8rem;
$h2-responsive-size: 3.2rem;
$h2-line: 1;
$h2-spacing: -2.14px;

$h3-size: 4rem;
$h3-responsiv-size: 1.8rem;
$h3-line: 0.84;
$h3-spacing: -1.79px;

$h4-size: 2.4rem;
$h4-responsive-size: 2rem;
$h4-line: 0.86;
$h4-spacing: -1.07px;

$link-font-size: 1.5rem;

$btn-size: 1.5rem;
$btn-line: 1.67;
$primary-white: #FFFFFF;
