/********** Home **********/
.home {
  padding-top: 15.3rem;
  padding-bottom: 15.2rem;
  background: linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../../image/Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center  center;
  position: relative;
  @include resposive(tabletSm) {
    padding-top: 13.7rem;
    padding-bottom: 25.7rem;
    background-position: 78%  0;
  }
  @include resposive(mobileMd) {
    padding-bottom: 17.9rem;
    background-position: 98%  0;
  }

    &::after {
      content: ' ';
      width: 100%;
      max-width: 202.5px;
      min-height: 15px;
      background: url(../../image/VectotHero.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      top: 349px;
      left: -0.5%;
      @include resposive(tabletLg) {
        display: none;
      }
    }

    &::before {
      content: ' ';
      width: 100%;
      max-width: 448px;
      min-height: 140px;
      background: url(../../image/VectotHeroArrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      position: absolute;
      top: 349px;
      left: 51%;
      z-index: 1;
      @include resposive(tabletMd) {
        top: 560px;
        left: -250px;
      }
      @include resposive(tabletSm) {
        top: 550px;
        left: -200px;
      }
      @include resposive(mobileMd) {
        top: 546px;
        left: -65%;
      }
    }

    &__info {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @include resposive(tabletMd) {
        width: 60%;
      }
      @include resposive(tabletSm) {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    &__title {
      width: 100%;
      max-width: 500px;
      color: $primary-white;
      align-self: flex-start;
      @include resposive(tabletSm) {
        max-width: 573px;
        align-self: center;
      }
      @include resposive(mobileLg) {
       max-width: 311px;
       align-self: center;
       font-size: $h1-responsive-size-lg;
       letter-spacing: $h1-responsive-spacing-lg;
      }
    }

    &__desc-btn {
      margin-top: 4rem;
    }

    &__desc-text {
      width: 100%;
      max-width: 405px;
      color: $primary-white;
      @include resposive(tabletSm) {
        max-width: 573px;
      }
      @include resposive(mobileLg) {
        max-width: 311px;
      }
    }

    &__btn {
      margin-top: 4rem;
    }
}

/********** Services **********/
.services {
  padding-top: 16rem;
  padding-bottom: 14.7rem;
  position: relative;
  @include resposive(tabletSm) {
    padding-top: 12.2rem;
    padding-bottom: 9.2rem;
  }

    &::after {
      content: "";
      width: 100%;
      max-width: 70%;
      min-height: 15px;
      background: $light-gray;
      position: absolute;
      top: 200px;
      left: 0;
      z-index: -1;
      @include resposive(tabletLg) {
        max-width: 60%;
      }
      @include resposive(tabletSm) {
        max-width: 785px;
        transform: rotate(90deg);
        left: -274px;
      }
      @include resposive(mobileLg) {
        display: none;
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      gap: 3rem;
      @include resposive(tabletSm) {
        grid-template-columns: repeat(auto-fit, minmax(573px, 1fr));
      }
      @include resposive(mobileLg) {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center center;
        row-gap: 4.8rem;
        text-align: center;
      }
    }

    &__card {
      width: 100%;
      max-width: 350px;

      @include resposive(tabletSm) {
        max-width: 573px;
        display: flex;
        align-items: center;
        gap: 7.9rem;
      }
      @include resposive(mobileLg) {
        max-width: 311px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.4rem;
      }

      &-head {
        width: 100%;
        max-width: 96px;
        min-height: 96px;
        background: $yellov;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          max-width: 42.5px;
          min-width: 39px;
        }

        @include resposive(mobileLg) {
          & {
            max-width: 56px;
            min-height: 56px;
          }
          & img {
            max-width: 25px;
            min-width: 19px;
          }
        }
      }
      &-body {
        margin-top: 4rem;
        @include resposive(mobileLg) {
          margin-top: 0;
        }
      }
      &-title {
        width: 100%;
        color: $dark-navy;
        @include resposive(mobileLg) {
          font-size: $h4-responsive-size;
        }
      }

      &-desc {
        width: 100%;
        margin-top: 2.7rem;
      }
    }


}

/********** Reverse **********/
.reverse {
  padding-top: 5.3rem;
  padding-bottom: 1.7rem;
  background: url(../../image/Ellipse.svg), url(../../image/Ellipse.svg), url(../../image/Ellipse.svg);
  background-repeat: no-repeat;
  background-size: 445px 445px, 445px 445px, 445px 445px;
  background-position: 92vw 4vw, -27vw 36vw, 92vw 73vw;
  @include resposive(tabletSm) {
    background-size: 311px 311px, 311px 311px, 311px 311px;
    background-position: 82vw 2vw, -39vw 91vw, 87vw 192vw;
  }
  @include resposive(mobileMd) {
    background-position: 89vw 1vw, -41vw 111vw, 88vw 230vw;
  }

  &__container {
    @include resposive(mobileLg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8.3rem;
    position: relative;
    @include resposive(tabletMode) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 5.6rem;
    }
    @include resposive(mobileLg) {
      width: 100%;
      max-width: 300px;
    }
  }
  &__info {
    @include resposive(tabletMode) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @include resposive(mobileLg) {
      width: 100%;
      max-width: 311px;
    }
  }
  &__content:not(:last-child) {
    margin-bottom: 2.6rem;
  }
  &__content:nth-child(2n) {
    flex-direction: row-reverse;
    @include resposive(tabletMode) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
  &__content:nth-child(2n) .reverse__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include resposive(tabletMode) {
      align-items: center;
    }
  }
  &__content:nth-child(2n) .reverse__info .reverse__btn {
    align-self: flex-start;
    @include resposive(tabletMode) {
      align-self: center;
    }
  }
  &__content > div {
    width: 50%;
    @include resposive(tabletMode) {
      width: 100%;
    }
  }
  &__content:first-child::after {
    position: absolute;
    bottom: -44px;
    left: 42%;
    content: " ";
    width: 100%;
    max-width: 57vw;
    height: 200px;
    background: url(../../image/bigarrowleft.svg);
    background-repeat: no-repeat;
    background-position: 0 79%;
    background-size: contain;
    @include resposive(tabletMode) {
      top: 216px;
      left: 13%;
      width: 100%;
      max-width: 80vw;
      background-position: left 68%;
      background-size: contain;
    }
    @include resposive(mobileLg) {
      top: 194px;
      left: -20%;
      width: 163%;
      max-width: 82vw;
      background-position: 0px 31%;
      background-size: 100%;
    }
    @include resposive(mobileMd) {
      top: 166px;
      left: 21px;
      width: 100%;
      max-width: 100vw;
      background-position: -1px 0;
      background-size: 177%;
    }
  }

  &__content:nth-child(2n)::after {
    content: url(../../image/bigarrowright.svg);
    position: absolute;
    left: -541px;
    top: 4%;
    @include resposive(tabletMode) {
      left: -347px;
    }
    @include resposive(tabletSm) {
      left: -425px;
    }
    @include resposive(mobileMd) {
      top: -26px;
      left: -581px;
    }
  }

  &__content:last-child::after {
    content: " ";
    background: url(../../image/bigarrowleft.svg);
    background-repeat: no-repeat;
    background-position: 487px 18px;
    background-size: contain;
    width: 100%;
    max-width: 70vw;
    height: 200px;
    position: absolute;
    top: 71px;
    left: 277px;
    @include resposive(tabletMode) {
      top: 1px;
      left: 203px;
      width: 100%;
      max-width: 70vw;
      background-position: 219px 46px;
      background-size: contain;
    }
    @include resposive(tabletSm) {
      background-position: 141px 72px;
      top: 1px;
      left: 168px;
    }
    @include resposive(mobileLg) {
      top: 2px;
      left: 173px;
      width: 80%;
      max-width: 43vw;
      background-position: 1px 36px;
      background-size: 330%;
    }
  }

  &__title {
    width: 100%;
    max-width: 445px;
    color: $dark-navy;
    @include resposive(mobileLg) {
      max-width: 300px;
      font-size: $h2-responsive-size;
    }
  }
  &__desc {
    width: 100%;
    max-width: 445px;
    margin-top: 2.4rem;
    @include resposive(mobileLg) {
      max-width: 311px;
    }
  }
  &__btn {
    margin-top: 4rem;
  }
  &__img {
    width: 445px;
    height: 445px;
    border-radius: 50%;
    @include resposive(tabletMode) {
      width: 335px;
      height: 335px;
      margin: 0 auto;
    }
    @include resposive(mobileLg) {
      width: 311px;
      height: 311px;
    }
    @include resposive(mobileMd) {
      width: 250px;
      height: 250px;
    }
  }
}
