/********** About **********/
#about,.about {
  padding: 7.2rem 0;
  background: linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../../image/About.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center  center;
  position: relative;
  &::after {
    content: url(../../image/OvalGroup.svg);
    position: absolute;
    right: 0;
    top: 35%;
    @include resposive(mobileMd) {
      display: none;
    }
  }

  &__title {
    width: 100%;
    max-width: 162px;
    color: $primary-white;
    text-transform: capitalize;
    @include resposive(mobileMd) {
     text-align: center;
      margin: 0 auto;
      font-size: $h1-responsive-size-lg;
    }
  }
}

/********** Suggestions **********/
.suggestions {
  padding: 12rem 0;
  background: url(../../image/Ellipse.svg),url(../../image/Ellipse.svg);
  background-size: 445px 445px,445px 445px ;
  background-repeat: no-repeat;
  background-position: -41% 82%,  141% 17%;
  position: relative;
  @include resposive(tabletMode) {
  background-position: -57% 72%, 155% 9%;
  }
  @include resposive(tabletSm) {
    background-position: -109% 72%, 203% 9%;
  }
  @include resposive(mobileMd) {
    background: none;
  }

  &::after {
    content: url(../../image/AboutArrow.svg);
    position: absolute;
    top: 384px;
    right: 0;
    @include resposive(mobileMd) {
      top: 245px;
    }
  }

  &::before {
    position: absolute;
    bottom: 359px;
    left: 0;
    content: url(../../image/BetterArrow.svg);
    z-index: 1;
  }

    &__content {
      position: relative;
      @include flex;
      justify-content: space-between;
      @include resposive(tabletMode) {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 5.6rem;
      }
    }

    &__content:nth-child(2n) {
      flex-direction: row-reverse;
      @include resposive(tabletMode) {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        gap: 5.6rem;
        margin-top: 12rem;
      }
    }

    &__title {
      width: 100%;
      max-width: 445px;
      color: $dark-navy;
      @include resposive(mobileMd) {
        max-width: 311px;
        font-size: $h2-responsive-size;
      }
    }

    &__desc {
      width: 445px;
      margin-top: 2.4rem;
      @include resposive(mobileMd) {
        max-width: 311px;
      }
    }

    &__img {
      width: 445px;
      height: 445px;
      border-radius: 50%;
      @include resposive(mobileMd) {
        width: 311px;
        height: 311px;
      }
    }
}

/********** Values **********/
.values {
  padding: 7.8rem 0;

  &__info {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    color: $dark-navy;
    @include resposive(mobileMd) {
      max-width: 457px;
    }
  }

  .cards {
    display: flex;
    gap: 3rem;
    @include resposive(tabletLg) {
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      width: 100%;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10.3rem;

      &__head {
        position: relative;
      }

      &__img {
        width: 240px;
        height: 240px;
        border-radius: 50%;
      }

      &__number {
        width: 96px;
        height: 96px;
        background: $yellov;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        bottom: -20%;
        left: 30%;
      }

      &__number-text {
        color: $dark-navy;
      }

      &__body {
        margin-top: 8.7rem;
        text-align: center;
      }

      &__title {
        width: 100%;
        color: $dark-navy;
      }

      &__desc {
        width: 100%;
        margin-top: 2.7rem;
      }
    }
  }
}
#values {
  position: relative;
}

#values::after {
    content: url(../../image/Ellipse.svg);
    position: absolute;
    left: -338px;
    top: -205px;
    @include resposive(mobileMd) {
      display: none;
    }
}
/********** FAQs **********/
.faqs {
  padding-bottom: 16rem;
  background: url(../../image/Ellipse.svg);
  background-position: -328px 284px;
  background-repeat: no-repeat;
  background-size: 445px 445px;
  position: relative;
  @include resposive(mobileMd) {
    background: none;
  }
  &::after {
    content: url(../../image/VectotHero.svg);
    position: absolute;
    top: 368px;
    left: 0;
    @include resposive(mobileMd) {
      display: none;
    }
  }
  &__title {
    width: 100%;
    max-width: 540px;
    text-align: center;
    margin: 0 auto;
    color: $dark-navy;
    @include resposive(mobileMd) {
      max-width: 311px;
      font-size: $h2-responsive-size;
    }
  }
  &__info  {
    margin-top: 6.4rem;
    .accordion {
      display: flex;
      justify-content: space-between;
      @include resposive(tabletSm) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3.2rem;
      }
      &:not(:first-child) {
        margin-top: 6.4rem;
      }
      &__title {
        color: $dark-navy;
        width: 100%;
        max-width: 350px;
        @include resposive(tabletSm) {
          text-align: center;
        }
      }
      &__info {
        position: relative;
        &:first-child::after {
          content: url(../../image/toparrow.svg);
          position: absolute;
          top: 32px;
          right: 25px;
          @include resposive(mobileMd) {
            top: 32px;
            right: 15px;
          }
        }
        &:not(:first-child)::after {
          content: url(../../image/bottomarrow.svg);
          position: absolute;
          right: 25px;
          top: 29px;
          @include resposive(mobileMd) {
            right: 12px;
            top: 15px;
          }
        }
        padding: 3.2rem 4rem;
        background-color: $snow;
        @include resposive(mobileMd) {
          width: 100%;
          max-width: 311px;
        }
      }
      &__info:not(:first-child) {
        margin-top: 1.6rem;
      }
      &__info-title {
        width: 100%;
        max-width: 465px;
        min-width: 356px;
        color: $dark-navy;
        @include resposive(mobileMd) {
          max-width: 300px;
          min-width: 256px;
          font-size: $h4-responsive-size;
        }
      }
      &__info-desc {
        width: 100%;
        max-width: 600px;
        margin-top: 2.4rem;
        @include resposive(mobileMd) {
          max-width: 311px;
        }
      }
    }
  }
}
