#careers {
  padding: 7.2rem 0;
  background: linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../../image/CoreersLocationBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center  center;
  position: relative;
  &::after {
    content: url(../../image/OvalGroup.svg);
    position: absolute;
    right: 0;
    top: 35%;
    @include resposive(mobileMd) {
      display: none;
    }
  }
}

/********** Course **********/
.course {
  padding-bottom: 16rem;

    &__cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;
    }

    &__card {
      width: 100%;
      max-width: 1110px;
      display: flex;
      justify-content: space-between;
      padding: 3.2rem 4rem;
      background-color: $snow;
      @include resposive(mobileMd) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.6rem;
        text-align: center;
      }
    }

    &__title {
      color: $dark-navy;
    }

    &__desc {
      color: $dark-navy;
      margin-top: 0.8rem;
    }

    &__btn {
      width: 100%;
      text-align: center;
    }
}
