/******** About ********/
#location {
  padding: 7.2rem 0;
  background: linear-gradient(rgba(47, 59, 89, 0.75),rgba(47, 59, 89, 0.75)), url(../../image/CoreersLocationBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center  center;
  position: relative;
  &::after {
    content: url(../../image/OvalGroup.svg);
    position: absolute;
    right: 0;
    top: 35%;
    @include resposive(mobileMd) {
      display: none;
    }
  }
}

/******** Location ********/
.location__section {
  padding: 12rem 0;
  @include resposive(mobileMd) {
    padding: 7.2rem 0;
  }
  &-container {
    .location__image {
      width: 100%;
      max-width: 1110px;
      min-height: 543px;
      background: url(../../image/LocationBg.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      @include resposive(mobileMd) {
      background: url(../../image/MobileLocate.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      min-height: 152px;
      }
  }
  .location__citiy {
    display: none;
    @include resposive(mobileMd) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      margin-top: 6.2rem;

      .location__title {
        width: 100%;
        max-width: 311px;
        padding: 2.2rem 0;
        text-align: center;
        background: $location-title-bg;
        color: $dark-navy;
      }
    }
  }
  }
}

/******** City ********/
.city {
  padding: 12rem 0;

  &__container {
    @include flex;
    @include resposive(tabletSm) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 4rem;
    }
  }
  &__title {
    width: 100%;
    max-width: 351px;
    color: $dark-navy;
    @include resposive(mobileMd) {
      font-size: $h2-responsive-size;
    }
  }
  &__desc {
    width: 100%;
    max-width: 445px;
    margin-left: 3rem;
    @include resposive(tabletSm) {
      margin-left: 0;
    }
  }

  &__btn {
    margin-left: auto;
    @include resposive(tabletSm) {
      margin-left: 0;
    }
  }

}
